<section class="container-fluid text-center text-light">
  <img src="../shared/assets/Star.svg" class="star-icon mb-1" />
  <h1 class="title">Blogs & Resourses</h1>
  <h4 class="description mb-5">
    Find more about me and my workings in my personal blogs.
  </h4>
  <div class="blogs-content">
    <div class="left">
      <div class="learn-more">
        <p>Learn More..</p>
        <a href="/" class="link-icon"
          ><img src="../shared/assets/blogs/link-external-01.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="right blogs-container">
      <div class="blog-card"></div>
      <div class="blog-card"></div>
      <div class="blog-card"></div>
      <div class="blog-card"></div>
    </div>
  </div>
</section>
