* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  /* primary */
  --bg: #151515;
  --deftext: #f2f2f2;
  --lighttext: #e4e4e4;
  --faded: #26292c;
  /* accents */
  /* blue */
  --blue: #407bff;
  --fadedblue: #355690;
  --darkblue: #1c2830;
  --darkerblue: #1a2025;
  --black-blue: #141b20;
  /* green */
  --green: #52eba1;
  --darkgreen: #113238;
  --darkergreen: #1a2421;
}

section {
  background-color: #151515;
  height: 100vh; /* You must set a specified height */
  background-image: url(../shared/assets/channelover/Group\ 53.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.main-star {
  padding: 1.2rem 0;
}

.header h2 {
  font-size: clamp(1.5rem, 1rem + 2.6vw, 2.8rem);
  color: #ffffff;
  font-weight: 600;
}

.content-container {
  max-width: 60%;
  margin: 0 auto;
}
.content-container .row div.box {
  background-color: #151414;
  border-radius: 16px;
  width: 49%;
}
.content-container .row .box-1 {
  color: var(--deftext);
}
.content-container .row .box-1 .channel-info h4 {
  font-size: clamp(0.7rem, 1rem + 1vw, 1.5rem);
}
.content-container .row .box-1 .channel-info span {
  font-weight: 100;
  font-size: 1.2rem;
}
.content-container .row .box-1 .channel-info span:last-child {
  font-size: 1rem;
}

.content-container .row .box-2 {
  color: var(--deftext);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container .row .box-3 {
  color: var(--deftext);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
