<section id="impact" class="container-fluid text-center text-light py-5">
  <img
    src="../shared/assets/mena/Star 3.png"
    alt="Star"
    class="star-icon mb-3"
  />

  <h2 class="mb-3">Impact in the MENA Region</h2>
  <p class="lead mb-5">
    Success stories, community engagement, media coverage and more...
  </p>

  <div class="d-flex justify-content-center align-items-center">
    <div class="card mx-3" style="width: 18rem; height: 350px">
      <div class="card-body">
        <h5 class="card-title">Success Stories</h5>
        <img
          src="../shared/assets/mena/post 1.png"
          alt="LinkedIn Post 1"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card mx-3" style="width: 18rem; height: 350px">
      <div class="card-body">
        <h5 class="card-title">Community Engagement</h5>
        <img
          src="../shared/assets/mena/post 2.png"
          alt="LinkedIn Post 2"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="card mx-3" style="width: 18rem; height: 350px">
      <div class="card-body">
        <h5 class="card-title">Media Coverage</h5>
        <img
          src="../shared/assets/mena/post 3.jpg"
          alt="LinkedIn Post 3"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
