html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
  }
  
  section {
    background-color: #151515;
    min-height: 100vh; 
    background-image: url(../shared/assets/courses/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  h2, h3, p {
    color: #fff;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
    text-align: center;
    width: 18rem; 
    height: 350px; 
    flex-shrink: 0; 
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .star-icon {
    width: 50px;
  }  