<nav>

    <div class="logo">
        <img src="../shared/assets/logo trans.png" alt="">
    </div>

    <div class="navigationWrapper">
        <div class="itemsWrapper">
            <div class="navigationItem">
                <h3>Home</h3>
            </div>
            <div class="navigationItem">
                <h3>About</h3>
            </div>
            <div class="navigationItem">
                <h3>Courses</h3>
            </div>
            <div class="navigationItem">
                <h3>Contact</h3>
            </div>
        </div>
    </div>

    <div class="favBtn">
        <h3>Support</h3>
    </div>
</nav>
