*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
:host {
    /* primary */
    --bg: #151515;
    --deftext: #F2F2F2;
    --lighttext: #E4E4E4;
    --faded: #26292C;
    /* accents */
    /* blue */
    --blue: #407BFF;
    --fadedblue: #355690;
    --darkblue: #1C2830;
    --darkerblue: #1A2025;
    --black-blue: #141B20;
    /* green */
    --green: #52EBA1;
    --darkgreen: #113238;
    --darkergreen: #1A2421;
}

#aboutMe {
    height: 100vh;
    width: 100%;
    max-height: 100%;
    background-color: var(--bg);
    background-image: url(../shared/assets/about/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--deftext);
    overflow: hidden;
}

.contentWrapper {
    padding: 0 2rem;
    padding-top: 5.25rem;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            position: relative;
            z-index: 1;
            font-size: clamp(2.5rem, 1rem + 3.6vw, 4rem);
        }
        .star {
            padding: 1.25rem 0;
        }
    }

    .mainContent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 5.25rem);
        flex-wrap: wrap;
        overflow: hidden;

        .txtContainer {
            position: relative;
            z-index: 1;
            width: 50%;
            padding: 0 1.25rem;
            
            h3 {
                font-size: clamp(1rem, 1rem + 1.2vw, 3rem);
            }

        }

        .imgsWrapper {
            width: 50%;
            
            .starsImg {
                background-image: url(../shared/assets/about/stars.svg);
                background-size: cover;
                background-position: center;
                position: absolute;
                z-index: 0;
                pointer-events: none;
                width: 100%;
                height: 100%;
                left: 50%;
                top: 55%;
                transform: translate(-50%,50%);
                overflow: hidden !important;
                opacity: 0.8;

            }

            .elZeroImg {
                img {
                    position: relative;
                    min-width: 440px;
                    width: 85%;
                    z-index: 1;
                }
            }
        }
    }
}

.linesimg {
    position: absolute;
    min-width: 700px;
    width: 50%;
    margin-left: auto;
    right: 0;
    img {
        object-fit: cover;
        width: 100%;
    }
}

@media only screen and (max-width: 1140px) {
    .starsImg {
        left: 50% !important;
    }
}

@media only screen and (max-width: 970px) {
    .mainContent {
        margin-top: 25px;
        flex-direction: column !important;
        justify-content: start !important;
        gap: 1.5rem;

        .imgsWrapper{
            width: 90% !important;

            .elZeroImg {
                display: flex;
                justify-content: center;
            }

        }

        .linesimg {
            right: inherit !important;
            width: 100%;
            min-width: initial !important;
        }

        .txtContainer{
            width: 100% !important;
        }
    } 
}

@media only screen and (max-width: 525px) {
    .elZeroImg img {
        position: relative;
        z-index: 1;
        width: 100%;
        min-width: 110% !important;
        transition: all 150ms ease;
    }
}



@media only screen and (max-width: 500px) {

    #aboutMe {
        background-image: url(../shared/assets/about/bg-mobile.svg);
        background-position: initial !important;
    }
     
    #aboutMe::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../shared/assets/fade.svg);
        background-position: center bottom;
        background-repeat: no-repeat;
        pointer-events: none;
    }

    .elZeroImg img {
        min-width: 100% !important;
        position: relative;
        z-index: 1;
    }

    .linesimg {
        display: none;
    }
}
