<section class="work-experience container-fluid">
  <div
    class="header d-flex flex-column align-items-center justify-content-center mb-5"
  >
    <img
      src="../shared/assets/workex/Star 3.png"
      alt="Star icon"
      class="main-star"
    />
    <h2>Work Experience</h2>
  </div>
  <!-- ############################### -->
  <div class="content-container">
    <div
      class="section-title pb-4 d-flex align-items-center justify-content-xl-start justify-content-center"
    >
      <h3 class="title-text d-flex flex-xl-row flex-column gap-1">
        The road to <span> inspire</span>
      </h3>
    </div>
    <!-- ############################### -->
    <div class="job-details">
      <div class="icon-group d-flex flex-xl-column gap-4">
        <div
          class="dot-icons d-flex gap-5 align-items-center flex-xl-row flex-column"
        >
          <div class="dot-icons d-flex gap-5 flex-column flex-xl-row">
            <img src="../shared/assets/workex/dot.svg" alt="dot" />
            <img src="../shared/assets/workex/dot.svg" alt="dot" />
          </div>
          <div class="star-icon">
            <img src="../shared/assets/workex/star.svg" alt="star" />
          </div>
        </div>
        <div class="job-description d-flex flex-column gap-2">
          <h4>
            Front-End <br />
            Developer
          </h4>
          <span class="company">sbeit</span>
          <span class="dates"
            >Oct 2010 - May 2012 <br />
            Riyadh</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
