<section class="container-fluid">
  <div
    class="main-text d-flex flex-column align-items-center justify-content-center mb-5"
  >
    <img
      src="../shared/assets/workex/Star 3.png"
      alt="Star icon"
      class="main-star"
    />
    <h2>Work Experience</h2>
  </div>
  <!-- ############################### -->
  <div class="custom-container">
    <div
      class="text-two pb-4 d-flex align-items-center justify-content-xl-start justify-content-center"
    >
      <h3 class="d-flex flex-xl-row flex-column gap-1">
        The road to <span> inspire</span>
      </h3>
    </div>
    <!-- ############################### -->
    <div class="text-three">
      <div class="group d-flex flex-xl-column gap-4">
        <div
          class="dots-star d-flex gap-5 align-items-center flex-xl-row flex-column"
        >
          <div class="dots d-flex gap-5 flex-column flex-xl-row">
            <img src="../shared/assets/workex/dot.svg" alt="dot" />
            <img src="../shared/assets/workex/dot.svg" alt="dot" />
          </div>
          <div class="star">
            <img src="../shared/assets/workex/star.svg" alt="star" />
          </div>
        </div>
        <div class="job-text d-flex flex-column gap-2">
          <h4>
            Front-End <br />
            Developer
          </h4>
          <span>sbeit</span>
          <span
            >Oct 2010 - May 2012 <br />
            Riyadh</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
